
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyansonline.com</title>
    <link rel="stylesheet" href="{% static 'styl.css' %}"/>
    <link rel="stylesheet" href="{% static 'account.css' %}"/>
    <link rel="stylesheet" href="{% static 'color.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-switcher.css' %}"/>
    <link rel="stylesheet" href="{% static 'color2.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'color3.css' %}" class="alternate-style" title="color-2" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="navigation">
    <div id="topnav" >
        <div class="navbar">
            <a  href="/" ><div class="navlogo"> <h3>Kenyans</h3><h4>Online</h4> <h1>K O</h1></div></a>
        </div>
   
       </div>  
    <div id="smallnav">   
       
        <a id="adds" href="/acc-profile"><img src="{{user_profile.profileimg.url}}" height="22px" width="22px"></a>
       

        <button id="linkbtn">SHARE</button>
        
        <br><br>
        <form method="POST" action="/search">
            {% csrf_token %}
            <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search" font-size="18px"></i></button>      
        </form> 
    </div>
     
    <div id="nav1">
            <div class="navlinks">
                <a href="/">All-Videos</a>&nbsp;
                <a href="/recommended">Recommended</a>&nbsp;
          
            
                <a href="/trending">Trending</a>&nbsp;
                <a href="/livechat">Podcasts</a>&nbsp;

                <a href="/livechat">Live</a>&nbsp;
                <a href="/livechat">Blogs</a>&nbsp;

                <a href="/livechat">Messages</a>&nbsp;
            
            
                <a href="/hookup">Social-book</a>&nbsp;
           
                <a href="/shotss">Shots</a>
                <a href="/terms-policy">Privacy</a>
                
                <a id="adds" href="/acc-profile"><img src="{{user_profile.profileimg.url}}" height="22px" width="22px"></a>&nbsp;


                <button id="linkbtn">SHARE</button>
                <div class="style-switcher">
                    <div class="style-switcher-toggle s-icon">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                    <div class="day-night s-icon">
                        <i class="fas"></i>
                    </div>
                    <h4>Theme Selector</h4>
                    <div class="colors">
                        <span class="color-2" onclick="setActiveStyle('color-1')"></span>
                        <span class="color-3" onclick="setActiveStyle('color-2')"></span>
                        <span class="color-1" onclick="setActiveStyle('color-3')"></span>
                    </div>
                </div>  
            </div>
             <div class="searching"> <form method="POST" action="/search">
                {% csrf_token %}
                    <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>      
                </form> 
            </div>  
    </div> 
        
    
    <label>
    <a href="logout" height="40px"><i class="fa fa-sign-out" id="btnn">out</i></a>
    </label>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

<div class="sidebar">
    

    <header class="navbar"><h3>Kenyans</h3><h4>Online</h4></header>

    <ul>
        <li><a href="/" ><i class="fa fa-home"></i> All-Videos</a></li>
        <li><a href="/recommended" ><i class="fa fa-home"></i> Recommended</a></li>
        <li><a href="/trending" ><i class="fa fa-home"></i> Trending</a></li>
        <li><a href="/" ><i class="fa fa-home"></i> Podcasts</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Live</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Blogs</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Messages</a></li>
        <li><a href="/hookup" ><i class="fa fa-address-card"></i> Social-book</a></li>
        <li><a href="/shotss" ><i class="fa fa-camera-retro"></i> Shots</a></li>
        <li><a href="/acc-profile"><i class="fa fa-user-circle-o"></i> Profile</a></li>
        <li><a href="/terms-policy"><i class="fa fa-fa fa-eye-slash"></i> privacy policy</a></li>
    </ul>
</div> 
</nav>

<body>
    <style>
     
    .sidebar{
        margin-top:10px;
        text-align: left;
        }
    body{
        margin-top: 150px;   
    }
    #agentdata{
        margin-top: 30px;
        margin:30px, auto;
    }
    .account-details {
       width: 100%;
       padding: 1px;
    }
    .account-details h4{
       background-color: rgb(255, 52, 25);
       color: aliceblue;
       font-size: 18px;
       border-radius: 5px;
       padding: 5px;
    }
    input{
        font-size: 13px;
        color: aliceblue;
    }
    textarea{
        font-size: 13px;
        color: aliceblue;
    }
    .account-form{
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    color: var(--text-black-700);
  }

.ADDITIONALinfo{
    width: 40%;
    display: none;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: var(--text-black-700);
}
.wallpaper img{
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 10%;
    height: 200px;
    width: 180px;
  }
    footer{
        width: 100%;
    }
    </style>
    
    <a href="/" >KenyansOnline</a>/Profile for <b>{{user.username}}</b>
    Ensure to save your profile details before you proceed. Otherwise you will not be able to access account details
    <div><br>
    <div class="account-form">
       
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="agentdata">
            <label><h4>Profile name</h4></label><br>
            <input type="text" name="agencyname" value="{{user_profile.agentname}}" id="contacts" required><br>
            <label><h4>Profile Picture.</h4></label><br>
            <div class="wallpaper">
            <img src="{{user_profile.profileimg.url}}" height="150px" width="150px"/>
            </div>
            </div>
            <input type="file" id="file_input" name="image" accept="image/jpg" required>
            <div id="agentdetails">
            <label><h4> ABOUT YOU</h4></label><br>
            <textarea type="textarea" name="agentdetails" height="400px" width="400px" required>{{user_profile.bio}}</textarea><br>
            <label><h4> LOCATION</h4></label><br>
            <input type="text" name="location" value="{{user_profile.location}}" required><br>
            <button type="submit" name="profile_submit"><h4>SAVE PROFILE DETAILS</h4></button>
            </div>
        </form><br>
       
   <div class="account-details">
        <div>
            <a href="/Houseupload"><h4>Upload VIDEOs</h4></a>
            <a href="/Shot"><h4>Upload SHOTs</h4></a>
            <a href="/Houseupload"><h4>Upload podcast</h4></a>
            <a href="/Shot"><h4>Write a blog</h4></a>

        </div><br>
        <div class="fixed">  
                {% for post in user_posts %}
                <a id="adds" href="/account/{{post.user}}">ACCOUNT-DETAILS</a>
                {% endfor %}  
        </div>

   </div>
</div>

<!--<div class="ADDITIONALinfo">
    <h2>ADDITIONAL INFORMATION</h2> optional

    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
            <div id="agentdata">
                <label><h4>Date_of_birth</h4></label><br>
                <input type="number" name="date_of_birth" value="{{profile.date_of_birth}}" id="contacts" required><br>
                <label><h4>marital_status</h4></label><br>
                <input type="text" name="marital_status" value="{{profile.marital_status}}" id="contacts" required><br>
                <label><h4>Gender</h4></label><br>
                <input type="text" name="Gender" value="{{profile.Gender}}" id="contacts" required><br>
                <label><h4>Education</h4></label><br>
                <input type="text" name="Education" value="{{profile.Education}}" id="contacts" required><br>
                <label><h4>Occupation</h4></label><br>
                <input type="text" name="Occupation" value="{{profile.Occupation}}" id="contacts" required><br>
            <button type="" name="additional_submit"><h4>SAVE</h4></button><br></br>
            </div>
        </form></br>
    <div>
        ADD your pictures</br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <input type="file" id="file_input" name="image" accept="image/jpg" required>
        <input type="file" id="file_input" name="image1" accept="image/jpg" required>
        <input type="file" id="file_input" name="image2" accept="image/jpg" required>
        <input type="file" id="file_input" name="image3" accept="image/jpg" required><br>
        <button type="" name="photos_submit"><h4>SAVE PHOTOS</h4></button>
        </form>
    </div> 
</div>-->
</div>
<footer>
    
    <div id="copywrite">
        <p>UPLOAD VIDEOS AND EARN Ksh 5.00 PER VIEW</p>
        <p>ALL VIDEOS ARE ALLOWED EXCEPT NUDITY AND EXTREAMISM!!!</p>
        <p>&copy TalantaHella</p>
    </div>

</footer>
<script src="{% static 'nav.js' %}"></script>
<script src="{% static 'main.js' %}"></script>

</body>

</html>
