
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyansonline.com</title>
    <link rel="stylesheet" href="{% static 'styl.css' %}"/>
    <link rel="stylesheet" href="{% static 'account.css' %}"/>
    <link rel="stylesheet" href="{% static 'color.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-switcher.css' %}"/>
    <link rel="stylesheet" href="{% static 'color2.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'color3.css' %}" class="alternate-style" title="color-2" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="navigation">
    <div id="topnav" >
        <div class="navbar">
            <a  href="/" ><div class="navlogo"> <h3>Kenyans</h3><h4>Online</h4> <h1>K O</h1></div></a>
        </div>
   
       </div>  
    <div id="smallnav">   
        {% for user in user_profile %}
        <a id="adds" href="/acc-profile"><img src="{{user.profileimg.url}}" height="22px" width="22px">PROFILE</a>
        {% endfor %}
        <button id="linkbtn">SHARE</button>
        
        <br><br>
        <form method="POST" action="/search">
            {% csrf_token %}
            <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search" font-size="18px"></i></button>      
        </form> 
    </div>
     
    <div id="nav1">
            <div class="navlinks">
                <a href="/">All-Videos</a>&nbsp;
                <a href="/recommended">Recommended</a>&nbsp;
          
            
                <a href="/trending">Trending</a>&nbsp;
                <a href="/podcast">Podcasts</a>&nbsp;

                <a href="/livechat">Live</a>&nbsp;
                <a href="/blog">Blogs</a>&nbsp;

                <a href="/livechat">Messages</a>&nbsp;
            
            
                <a href="/hookup">Social-book</a>&nbsp;
           
                <a href="/shotss">Shots</a>
                <a href="/terms-policy">Privacy</a>
                {% for user in user_profile %}
                <a id="adds" href="/acc-profile"><img src="{{user.profileimg.url}}" height="22px" width="22px">PROFILE</a>&nbsp;
                {% endfor %}

                <button id="linkbtn">SHARE</button>
                <div class="style-switcher">
                    <div class="style-switcher-toggle s-icon">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                    <div class="fa-sun">
                        <i class="fa-solid fa-sun-bright"></i>
                    </div>
                    <div class="fa-moon">
                        <i class="fa-solid fa-moon"></i>
                    </div>
                    <h4>Theme Selector</h4>
                    <div class="colors">
                        <span class="color-2" onclick="setActiveStyle('color-1')"></span>
                        <span class="color-3" onclick="setActiveStyle('color-2')"></span>
                        <span class="color-1" onclick="setActiveStyle('color-3')"></span>
                    </div>
                </div>  
            </div>
             <div class="searching"> <form method="POST" action="/search">
                {% csrf_token %}
                    <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>      
                </form> 
            </div>  
    </div> 
        
    
    <label>
    <a href="logout" height="40px"><i class="fa fa-sign-out" id="btnn">out</i></a>
    </label>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

<div class="sidebar">
    

    <header class="navbar"><h3>Kenyans</h3><h4>Online</h4></header>

    <ul>
        <li><a href="/" ><i class="fa fa-home"></i> All-Videos</a></li>
        <li><a href="/recommended" ><i class="fa fa-home"></i> Recommended</a></li>
        <li><a href="/trending" ><i class="fa fa-home"></i> Trending</a></li>
        <li><a href="/podcast" ><i class="fa fa-home"></i> Podcasts</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Live</a></li>
        <li><a href="/blog"><i class="fa fa-comments"></i>Blogs</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Messages</a></li>
        <li><a href="/hookup" ><i class="fa fa-address-card"></i> Social-book</a></li>
        <li><a href="/shotss" ><i class="fa fa-camera-retro"></i> Shots</a></li>
        <li><a href="/acc-profile"><i class="fa fa-user-circle-o"></i> Profile</a></li>
        <li><a href="/terms-policy"><i class="fa fa-fa fa-eye-slash"></i> privacy policy</a></li>
    </ul>
</div> 
</nav>
<div class="aside_profile">
    <div class="account-form">
        {% for user in user_profile %}
            <div id="agentdata">
            <label><h4>Username: </h4>{{user.agentname}}</label><br>
            <div class="wallpaper">
            <img src="{{user.profileimg.url}}"/>
            </div>
            </div>
            <div id="agentdetails">
            <label><h4>Located in {{user.location}}</h4><br>
            </div>
        {% endfor %}
   <div class="account-details">
        <div>
            <a href="/Houseupload"><h4>Upload -VIDEO</h4></a><br>
            <a href="/Shot"><h4>Upload -SHOTs</h4></a><br>
            <a href="/Shot"><h4>Upload podcast</h4></a><br>
            <a href="/Shot"><h4>GO LIVE</h4></a>

        </div>

   </div>
</div>
<div class="subscription">
    <h4>my Subscriptions</h4>
  {% if Recommended %}
    <ul>
      {% for subscription in user_following %}
        <li>{{ subscription.user.username }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You are not subscribed to anyone yet.</p>
  {% endif %}
</div>
<h4>my videos</h4><br>
<h4>my Connections</h4><br>
<h4>my Messages</h4><br>
<h4>my Notifications</h4><br>

</div>

{% block mainvideos %}
{% endblock %}

{% block recommendedvideos %}
{% endblock %}


{% block video-uploads %}
{% endblock %}

{% block searches %}
{% endblock %}

{% block shots %}
{% endblock %}

{% block shot-videos %}
{% endblock %}


<footer>
    
    <div id="copywrite"> 
        <div class="logos">
            <img src="static/images/logo10.png" height="200px" width="200px">
        </div> 
        <div class="text">   
        <p>UPLOAD VIDEOS AND EARN Ksh 300 PER 1000 VIEWs</p>
        <p>ALL VIDEOS ARE ALLOWED EXCEPT NUDITY AND EXTREAMISM!!!</p>
        <p>&copy TalantaHella</p>
        
        </div> 
        <div class="logos1">
            <img src="static/images/logo10.png" height="200px" width="200px">
        </div> 
    </div>

</footer>
<script src="{% static 'nav.js' %}"></script>
<script src="{% static 'main.js' %}"></script>
<script src="{% static 'style-switcher.js' %}"></script>

</body>

</html>

