{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" lang="en"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyansonline.com</title>
    <link rel="stylesheet" href="{% static 'styl.css' %}"/>
    <link rel="stylesheet" href="{% static 'account.css' %}"/>
    <link rel="stylesheet" href="{% static 'color.css' %}"/>
    <link rel="stylesheet" href="{% static 'style-switcher.css' %}"/>
    <link rel="stylesheet" href="{% static 'color2.css' %}" class="alternate-style" title="color-1" disabled>
    <link rel="stylesheet" href="{% static 'color3.css' %}" class="alternate-style" title="color-2" disabled>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<nav class="navigation">
    <div id="topnav" >
        <div class="navbar">
            <a  href="/" ><div class="navlogo"> <h3>Kenyans</h3><h4>Online</h4> <h1>K O</h1></div></a>
        </div>
   
       </div>  
    <div id="smallnav">   

        <button id="linkbtn">SHARE</button>
        
        <br><br>
        <form method="POST" action="/search">
            {% csrf_token %}
            <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search" font-size="18px"></i></button>      
        </form> 
    </div>
     
    <div id="nav1">
            <div class="navlinks">
                <a href="/">All-Videos</a>&nbsp;
                <a href="/recommended">Recommended</a>&nbsp;
          
            
                <a href="/trending">Trending</a>&nbsp;
                <a href="/livechat">Podcasts</a>&nbsp;

                <a href="/livechat">Live</a>&nbsp;
                <a href="/livechat">Blogs</a>&nbsp;

                <a href="/livechat">Messages</a>&nbsp;
            
            
                <a href="/hookup">Social-book</a>&nbsp;
           
                <a href="/shotss">Shots</a>
                <a href="/terms-policy">Privacy</a>

                <button id="linkbtn">SHARE</button>
                <div class="style-switcher">
                    <div class="style-switcher-toggle s-icon">
                        <i class="fas fa-cog fa-spin"></i>
                    </div>
                    <div class="day-night s-icon">
                        <i class="fas"></i>
                    </div>
                    <h4>Theme Selector</h4>
                    <div class="colors">
                        <span class="color-2" onclick="setActiveStyle('color-1')"></span>
                        <span class="color-3" onclick="setActiveStyle('color-2')"></span>
                        <span class="color-1" onclick="setActiveStyle('color-3')"></span>
                    </div>
                </div>  
            </div>
             <div class="searching"> <form method="POST" action="/search">
                {% csrf_token %}
                    <input type="search" action="/search" class="search" placeholder="search" name="searched"><button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>      
                </form> 
            </div>  
    </div> 
        
    
    <label>
    <a href="logout" height="40px"><i class="fa fa-sign-out" id="btnn">out</i></a>
    </label>

    <input type="checkbox" id="check">
    <label for="check">
        <i class="fa fa-bars" id="btn"></i>
        <i class="fa fa-times" id="cancel"></i>
    </label>

<div class="sidebar">
    

    <header class="navbar"><h3>Kenyans</h3><h4>Online</h4></header>

    <ul>
        <li><a href="/" ><i class="fa fa-home"></i> All-Videos</a></li>
        <li><a href="/recommended" ><i class="fa fa-home"></i> Recommended</a></li>
        <li><a href="/trending" ><i class="fa fa-home"></i> Trending</a></li>
        <li><a href="/" ><i class="fa fa-home"></i> Podcasts</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Live</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Blogs</a></li>
        <li><a href="/livechat"><i class="fa fa-comments"></i>Messages</a></li>
        <li><a href="/hookup" ><i class="fa fa-address-card"></i> Social-book</a></li>
        <li><a href="/shotss" ><i class="fa fa-camera-retro"></i> Shots</a></li>
        <li><a href="/acc-profile"><i class="fa fa-user-circle-o"></i> Profile</a></li>
        <li><a href="/terms-policy"><i class="fa fa-fa fa-eye-slash"></i> privacy policy</a></li>
    </ul>
</div> 
</nav>

<body>
    <div class="welcome-note" class="container">
        <h5>WELCOME to Kenyans-Online, Your favourite video-sharing center and Social-connection web-application</h5> 
        <p>This website is dedicated to exploring talents & skills, entertainment and educative videos and building connections</p>
        <p>For more, login to find more contents and enjoy your stay</p>
    </div>
   

    <div id="loginform">

    <div>
        <style>
            body{
                margin-top: 150px;
                background: url("static/images/LOGO1.png"), url("static/images/LOGO1.png"), var(--bg-black-100);
                background-position: bottom right, bottom left, center;
                background-repeat: no-repeat,no-repeat, repeat;
                background-attachment: fixed;
                background-size: 30%, 30%, 100%;                
            }
            
            h5{
                color: var(--skin-color);
                font-size: 25px;
                font-family:'Times New Roman', Times, serif;
                font-weight: 900;
            }
            p{
                color: var(--text-black-700);
                font-weight: 500;
            }
            #loginform a{
                color: var(--skin-color);
            }
            #loginform a:hover{
                color: rgb(253, 253, 253);
            }
            footer{
                width: 100%;
            }
            @media (max-width:550px) {
               
                h5{
                    font-size: 18px;
                }
            }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
    </div>

    <form class="form" action="" method="POST">
        {% csrf_token %}
            <label><h4>Enter Your username</h4></label><br>
            <input type="text" id="username" name="username" required><br>
            <label><h4>Enter Your Email</h4></label><br>
            <input type="email" id="email" name="email" placeholder="Enter a valid email for password recovery" required><br>
            <label><h4>Enter Password</h4></label><br>
            <input type="password" id="psw" name="password" placeholder="Use a strong password" required><br>
            <label><h4>Confirm Password</h4></label><br>
            <input type="password" id="psw" name="password2" required><br>
            <button type="submit"><h4>Signup</h4></button>
    </form>
    <div>

        <p>already have an account<a href="/signin"><h4>Login</h4></a></p>
    </div>
    </div>
    <div class="welcome-note">
        <p>This is a talent and skills video sharing and social-book website.<br> users upload videos at a reward of Ksh 300 PER 1000 VIEWs<br>
        TALANTA is the main theme here, you can also connect with other active kenyans and continue together.
        </p><br>
        <p>UPLOAD VIDEOS AND EARN Ksh 300 PER 1000 VIEWs</p>
        <p>ALL VIDEOS ARE ALLOWED EXCEPT NUDITY AND EXTREAMISM!!!</p>
        <p>&copy TalantaHella</p>
        </div>
    <script src="{% static 'main.js' %}"></script>
    <script src="{% static 'nav.js' %}">

</script>
</body>
</html>